# 博查联网搜索，注册地址 https://bochaai.com/#/register
BOCHA_API_URL="https://api.bochaai.com/v1/web-search"
BOCHA_API_KEY=""

# 和风天气，注册地址 https://id.qweather.com/#/login?redirect=https%3A%2F%2Fconsole.qweather.com
HEFENG_LOOKUP_URL="https://geoapi.qweather.com/v2/city/lookup"
HEFENG_API_URL="https://devapi.qweather.com/v7/weather/now"
HEFENG_API_KEY=""

# 根据 ip 查询地理位置，注册地址 https://www.ipgeolocation.io/
IPGEO_API_KEY=""

# 百度人脸识别，注册地址 https://cloud.baidu.com/product/face
# 填入你自己的 API Key / Secret Key以及人脸库分组 ID
BAIDU_FACE_API_KEY=""
BAIDU_FACE_SECRET_KEY=""
BAIDU_FACE_GROUP_ID=""

#----------------------------RAG和记忆工具配置示例----------------------------
# 百度千帆API配置
BAIDU_QIANFAN_QUERY_URL="https://qianfan.baidubce.com/v2/knowledgebases/query" # 非必选，有默认值
BAIDU_QIANFAN_KNOWLEDGEBASE_IDS=""
BAIDU_QIANFAN_ACCESS_TOKEN=""

# 百度千帆 Secret Key
QIANFAN_SK=""

# 个性化记忆存储（使用的是百度千帆），以下连接信息与密钥请替换为你自己环境的配置
# -- DBVector 向量数据库 --
DBVECTOR_ENDPOINT=""
DBVECTOR_API_KEY=""
DBVECTOR_SECRET_KEY=""
DBVECTOR_COLLECTION=""
DBVECTOR_VECTOR_DIMENSION=""

# -- RDS 关系型数据库 --
RDS_HOST=""
RDS_PORT=""
RDS_DATABASE=""
RDS_USERNAME=""
RDS_PASSWORD=""

# -- BOS 对象存储 --
BOS_ACCESS_KEY=""
BOS_SECRET_KEY=""
BOS_BUCKET_NAME=""
BOS_REGION=""